In [1]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [2]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [4]:
a={1,2,3,4,5,6,7,8}
b={5,8,2,1,20,45,87}

print(a.symmetric_difference(b))

{3, 4, 6, 7, 45, 20, 87}

In [5]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
b

{1, 2, 5, 8, 20, 45, 87}

# Concept

- If the inputs are given on one line separated by a character (the delimiter), use split() to get the separate values in the form of a list.

- The delimiter is space (ascii 32) by default.
- To specify that comma is the delimiter, use string.split(',').

In [11]:
s="Vikas Kale Python"
re=s.split()
print(re)

['Vikas', 'Kale', 'Python']

In [12]:
type(re)

list

In [13]:
b='1 2 3 4 5 6 7 8'
re=b.split()
print(re)

['1', '2', '3', '4', '5', '6', '7', '8']

### If the list values are all integer types, use the map() method to convert all the strings to integers.

In [14]:
b='1 2 3 4 5 6 7 8'
re=list(map(int,b.split()))  # use map function to convert str to int.syntax:map(function,*iterable)
print(re)

[1, 2, 3, 4, 5, 6, 7, 8]

- Sets are an unordered collection of unique values. A single set contains values of any immutable data type.

### Creating sets

In [15]:
myset = {1, 2} # Directly assigning values to a set
myset = set()  # Initializing a set
myset = set(['a', 'b']) # Creating a set from a list
print(myset)

{'b', 'a'}

### MODIFYING SETS

- Using the add() function:

In [16]:
myset.add('c')
myset
{'a', 'c', 'b'}
myset.add('a') # As 'a' already exists in the set, nothing happens
myset.add((5, 4))
print(myset)
# {'a', 'c', 'b', (5, 4)}

{'b', (5, 4), 'c', 'a'}

- Using the update() function:

In [17]:
myset.update([1, 2, 3, 4]) # update() only works for iterable objects
print(myset)

{'b', 1, 2, 3, 4, (5, 4), 'c', 'a'}

In [18]:
myset.update({1, 7, 8})
print(myset)

{'b', 1, 2, 3, 4, 7, 8, (5, 4), 'c', 'a'}

In [19]:
myset.update({1, 6}, [5, 13])
print(myset)

{'b', 1, 2, 3, 4, 5, 6, 7, 8, (5, 4), 'c', 'a', 13}

## REMOVING ITEMS

- Both the discard() and remove() functions take a single value as an argument and removes that value from the set.
- If that value is not present, discard() does nothing, but remove() will raise a KeyError exception.

In [20]:
myset.discard(10)  # 10 not present in myset.
print(myset)

{'b', 1, 2, 3, 4, 5, 6, 7, 8, (5, 4), 'c', 'a', 13}

In [22]:
myset.remove(13)
print(myset)

{'b', 1, 2, 3, 4, 5, 6, 7, 8, (5, 4), 'c', 'a'}

### COMMON SET OPERATIONS

- **Using union(), intersection() and difference() functions.**

In [24]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.union(b) # Values which exist in a or b

{2, 4, 5, 9, 11, 12}

In [25]:
a.intersection(b) # Values which exist in a and b

{2, 4}

In [26]:
a.difference(b) # Values which exist in a but not in b

{5, 9}

In [27]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.symmetric_difference(b) #values that exist in either a or b but do not exist in both.

{5, 9, 11, 12}

# The union() and intersection() functions are symmetric methods:

In [28]:
a.union(b) == b.union(a)

True

In [29]:
a.intersection(b) == b.intersection(a)

True

In [30]:
a.difference(b) == b.difference(a)

False

# Task

- Given  sets of integers, M and N, print their symmetric difference in ascending order.\
- The term symmetric difference indicates those values that exist in either M or N but do not exist in both.

## Input Format

The first line of input contains an integer,M .
The second line contains M space-separated integers.
The third line contains an integer, N.
The fourth line contains N space-separated integers.

### Output Format

- Output the symmetric difference integers in ascending order, one per line.

Sample Input

STDIN       Function
-----       --------
4           set a size M = 4
2 4 5 9     a = {2, 4, 5, 9}
4           set b size N = 4
2 4 11 12   b = {2, 4, 11, 12}

Sample Output

5
9
11
12

In [38]:
a,b=(int(input()),input().split())
c,d=(int(input()),input().split())
x=set(b)
y=set(d)
p=y.difference(x)
q=x.difference(y)
r=p.union(q)
print ('\n'.join(sorted(r, key=int)))

4
2 4 5 9
4
2 4 11 12
5
9
11
12

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

# Another method

Sample Input

STDIN       Function
-----       --------
4           set a size M = 4
2 4 5 9     a = {2, 4, 5, 9}
4           set b size N = 4
2 4 11 12   b = {2, 4, 11, 12}

In [39]:
m=input("Enter size of set a: ")
a=set(map(int,input().split()))
n=input("Enter size of set b: ")
b=set(map(int,input().split()))

print(a)
print(b)

Enter size of set a: 4
2 4 5 9
Enter size of set b: 4
2 4 11 12
{9, 2, 4, 5}
{2, 11, 4, 12}

In [40]:
m=input("Enter size of set a: ")
a=set(map(int,input().split()))
n=input("Enter size of set b: ")
b=set(map(int,input().split()))
print((a-b).union(b-a))

Enter size of set a: 4
2 4 5 9
Enter size of set b: 4
2 4 11 12
{9, 11, 12, 5}

In [42]:
m=input("Enter size of set a: ")
a=set(map(int,input().split()))
n=input("Enter size of set b: ")
b=set(map(int,input().split()))
result=sorted((a-b).union(b-a))


for i in result:
    print(i)

Enter size of set a: 4
2 4 5 9
Enter size of set b: 4
2 4 11 12
5
9
11
12